<footer class="footer">
    <div class="container fixed-bottom">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <right>
                    <span><img src="/assets/img/profile.png" class="float-right rounded" height=100 width=100 /></span><br/>
                </right>
            </div>
            <div class="col-sm-4">
                <span><bold>Karthik Bhat</bold>, Sr. Engineer at UniCourt </span><br/>
                <span> I write articles on programming. I have worked on Go, Python, PHP, and MySQL over past 4 years.</span>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</footer>