<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        {% highlight python linenos %}{% include code/{{page.language}}/{{page.file_path}}.py %}
 {% endhighlight %}
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <span> <em>Output</em></span>
        {% highlight console linenos %}
$ python code/{{page.language}}/{{page.file_path}}.py
{% include code/python/output/{{page.file_path}}.txt %}
{% endhighlight %}
    </div>
    <div class='col-2'></div>
</div>