<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="docker-nav">
      {% include navigation.html %}
    </div>
    <div class="container-fluid docker-color">
      <div class='row'>
        <div class='col-2'>
          <ul class="nav flex-column text-muted"> 
            {% for item in site.data.feeds %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
                {{ item.date }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class='col'>
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>